In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df=pd.read_excel('Aya 1.xlsx',usecols=['Unnamed: 3','Unnamed: 11','Unnamed: 17'])
df

     Unnamed: 3 Unnamed: 11        Unnamed: 17
0        sector        YEAR         Ransomware
1           NaN         NaN                NaN
2          tech        2021              REvil
3           NaN        2021            unknown
4    healthcare        2021              REvil
..          ...         ...                ...
611  government        2016       Not revealed
612     finance        2015  Armada Collective
613       legal        2015         CryptoWall
614  government        2014         CryptoWall
615       mixed        2014       Not revealed

[616 rows x 3 columns]

In [3]:
df.columns

Index(['Unnamed: 3', 'Unnamed: 11', 'Unnamed: 17'], dtype='object')

In [4]:
df.rename(columns={'Unnamed: 11':'Year', 'Unnamed: 3':'Sector', 'Unnamed: 17':'Ransomware'},inplace=True)

In [5]:
df

         Sector  Year         Ransomware
0        sector  YEAR         Ransomware
1           NaN   NaN                NaN
2          tech  2021              REvil
3           NaN  2021            unknown
4    healthcare  2021              REvil
..          ...   ...                ...
611  government  2016       Not revealed
612     finance  2015  Armada Collective
613       legal  2015         CryptoWall
614  government  2014         CryptoWall
615       mixed  2014       Not revealed

[616 rows x 3 columns]

In [6]:
df.shape

(616, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sector      606 non-null    object
 1   Year        613 non-null    object
 2   Ransomware  609 non-null    object
dtypes: object(3)
memory usage: 14.6+ KB

In [8]:
df.head()

       Sector  Year  Ransomware
0      sector  YEAR  Ransomware
1         NaN   NaN         NaN
2        tech  2021       REvil
3         NaN  2021     unknown
4  healthcare  2021       REvil

In [9]:
df.tail()

         Sector  Year         Ransomware
611  government  2016       Not revealed
612     finance  2015  Armada Collective
613       legal  2015         CryptoWall
614  government  2014         CryptoWall
615       mixed  2014       Not revealed

In [10]:
df.describe()

            Sector  Year    Ransomware
count          606   613           609
unique          25    10            60
top     government  2020  Not revealed
freq           103   242           120

In [11]:
df['Year'].isnull().sum()

3

In [12]:
df['Year'].mode()

0    2020
Name: Year, dtype: object

In [13]:
df['Year']=df['Year'].fillna(2020)

In [14]:
df['Year'].isnull().sum()

0

In [15]:
df['Sector'].isnull().sum()

10

In [16]:
df['Sector'].mode()

0    government
Name: Sector, dtype: object

In [17]:
df['Sector']=df['Sector'].fillna('government')

In [18]:
df['Ransomware'].isnull().sum()

7

In [19]:
df['Ransomware'].mode()

0    Not revealed
Name: Ransomware, dtype: object

In [20]:
df['Ransomware']=df['Ransomware'].fillna('Not revealed')

In [21]:
df=df.drop(0, axis=0)

In [22]:
df

         Sector  Year         Ransomware
1    government  2020       Not revealed
2          tech  2021              REvil
3    government  2021            unknown
4    healthcare  2021              REvil
5    government  2021               Ryuk
..          ...   ...                ...
611  government  2016       Not revealed
612     finance  2015  Armada Collective
613       legal  2015         CryptoWall
614  government  2014         CryptoWall
615       mixed  2014       Not revealed

[615 rows x 3 columns]

In [23]:
str(df['Year'])

'1      2020\n2      2021\n3      2021\n4      2021\n5      2021\n       ... \n611    2016\n612    2015\n613    2015\n614    2014\n615    2014\nName: Year, Length: 615, dtype: object'

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 1 to 615
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sector      615 non-null    object
 1   Year        615 non-null    object
 2   Ransomware  615 non-null    object
dtypes: object(3)
memory usage: 14.5+ KB

In [30]:
fig = px.histogram(df, y='Year')
fig.update_layout(
    title='The year in which there were more attacks', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")

In [31]:
fig = px.histogram(df, x='Year', color='Sector')
fig.update_layout(
    title='The number of times each sector is attacked each year', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")

In [32]:
fig = px.histogram(df, y='Sector')
fig.update_layout(
    title='The number of times the attack was repeated on the sector', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")

In [33]:
fig = px.histogram(df, y='Ransomware')
fig.update_layout(
    title='The number of repetitions of each attack', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")